/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200&display=swap');

#content {
max-width: 1600px;
margin: 0 auto;
}

body {
color: white;
font-family: Poppins, Helvetica, sans-serif;
background-color: #1b3b19;

}
header {
color: white;
background-color: #4A7856;
font-family: Fredoka One, Helvetica, sans-serif;
display: grid;
grid-template-columns: 150px auto;
height: 200px;
}
.logo {
width: 140px;
}
.logotitle {
font-size: 100px;
margin: 0;
margin-top: 25px;
}
nav {
display: flex;
margin-left: 20px;
justify-content: space-around;
font-size: 20px;
width: 1500px;
height: 120px;
}
nav a {
width: 300px;
text-decoration: none;
color: white;
text-align: center;
margin-right: 100px;
padding-top: 10px;

}
nav a:hover {
color: #94ECBE;
background-color: #345830;
height: 40px;
border-radius: 20px;
width: 300px;
padding-top: 10px;
}

main section {
text-align: center;

}
#logo_link {
padding-top: 5px;
justify-self: center;
align-self: center;
}
.home-grid {
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: 400px 300px 300px;
height: 1000px;
margin: 20px;
padding: 20px;
}

.bg-image {
    background-image: url("images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-pic, .matterpic, .enviropic {
width: 100%;
}
.intro-card img {
grid-column: 1/2;
grid-row: 1/2;
border-radius: 40px 0px 0px 40px;
}

.intro-pic {
    height: 80.5%;
}
.text-intro {
grid-row: 1/2;
grid-column: 2/3;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 78.5px;
text-align: center;
background-color: #4A7856;
border-radius: 0px 40px 40px 0px;
}
.text-intro h1 {
    font-family: Fredoka One, Helvetica, sans-serif;
}
.matterpic {
grid-column: 1/2;
grid-row: 2/3;
border-radius: 40px 0px 0px 40px;
height: 80.5%;

}
.text-snail {
grid-column: 2/3;
grid-row: 2/3;
background-color: #4A7856;
border-radius: 0px 40px 40px 0px;
padding-top: 85px;
text-align: center;
font-size: 2em;
margin-bottom: 58.5px;
font-family: Fredoka One, Helvetica, sans-serif;
text-decoration: none;

}

#matterlink {
    text-decoration: none;
    color: white;
    padding-top: 35px;
    text-align: center;
    margin-top: 35px;
    font-size: 1.5em;
    transition: transform .5s;
}
#matterlink:hover {
    opacity: .6;
    transform: scale(1.1);
   
}


.text-environmental  {
grid-column: 2/3;
grid-row: 3/4;
background-color: #4A7856;
border-radius: 0px 40px 40px 0px;
text-align: center;
font-size: 2em;
margin-bottom: 88px;
padding-top: 75px;
font-family: Fredoka One, Helvetica, sans-serif;
text-decoration: none;
}

#envirolink {
    text-decoration: none;
    color: white;
    padding-top: 35px;
    text-align: center;
    margin-top: 35px;
    font-size: 1.5em;
    transition: transform .5s;
}
#envirolink:hover {
    opacity: .6;
    transform: scale(1.1);
   
}


.environmental img {
grid-column: 1/2;
grid-row: 3/4;
border-radius: 40px 0px 0px 40px;
text-decoration: none;
height: 71%;
}
.environmental h2 {
grid-row: 3/4;
grid-column: 3/4;
text-decoration: none;
}

.text-environmental h2 {
    text-decoration: none;
}

footer {
background-color: #4A7856;
color: white;
display: flex;
justify-content: space-around;
border-radius: 20px;
}
footer a {
color: white;
text-decoration: none;
}
footer a:hover {
color: #1b3b19;
}
footer p {
font-size: 1.2em;
}
footer .social img {
padding-top: 15px;
}


/* Why do snails matter Page */

.matter-grid {
    display: grid;
grid-template-columns: 1fr 3fr;

height: 1000px;
margin: 20px;
padding: 20px;
}

.snailmatterpic {
    width: 100%;
    border-radius: 40px 0px 0px 40px;
    height: 49%;
}

.text-whymatter {
    background-color: #4A7856;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: auto;
    text-align: center;
    border-radius: 0px 40px 40px 0px;
    padding-bottom: 30px;
    max-height: 43.5%;
}
.text-whymatter h1 {
    font-family: Fredoka One, helvetica, sans-serif;
}

.matter-card, .text-whymatter {
    margin-top: 50px;
}

/* Environmental Stewardship Page */

.enviro-grid {
    display: grid;
grid-template-columns: 1fr 3fr;

height: 1000px;
margin: 20px;
padding: 20px;
}
.oceanpic {
    width: 100%;
    height: 49%;
    border-radius: 40px 0px 0px 40px;
}
.text-steward {
    background-color: #4A7856;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: auto;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 0px 40px 40px 0px;
    height: 43.5%;
}
.text-steward h1 {
    font-family: Fredoka One, Helvetica, sans-serif;
}
.enviro-card, .text-steward {
    margin-top: 50px;
}
